@mixin container{
    margin: auto;
    max-width: 1200px;
}

@mixin background-image {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    opacity: .65;
}

@mixin section {
  padding-top: $padding-section;
}

@mixin section-heading {
  font-size: 5rem;
  color: $color-black;
  text-align: center;
  font-weight: 700;
  letter-spacing: .3rem;
  padding: 0 1rem 0 $padding-section-right;
  @include tablet-portrait {
    padding-left: 2rem;
    letter-spacing: initial;
  }
  &--text-container {
    display: inline-block;
    text-align: left;
    @include tablet-portrait {
      display: block;
    }
  }
  &--sub {
    display: block;
    text-transform: capitalize;
    @include mobile {
      display: inline-block;
    }
  }
  &--small {
    font-size: .8em;
    font-weight: 400;
    color: $color-white;
  }
  &--mark {
    display: block;
    color: $color-yellow;
    background-color: inherit;
  }

}

@mixin image-heading {
  font-size: 3.5rem;
  color: $color-white;
  margin-bottom: 2rem;
  font-weight: 700;
  @include tablet-portrait {
    font-size: 4.5rem;
  }
}

@mixin regular-text ($color) {
  font-size: 2rem;
  line-height: 1.7;
  color: $color;
}

@mixin stripe ($width, $translateY) {
  content: '';
  display: block;
  background-color: $color-purple-base;
  width: $width;
  transform: translateX($translateY);
}

@mixin list {
  counter-reset: item;
  li{
    padding: 2rem 0;
    font-size: 3rem;
    color: $color-black;
    border-bottom: 2px solid $color-list-decoration;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    &:before {
      content: counter(item, decimal-leading-zero);
      counter-increment: item;
      display: inline-block;
      font-weight: 700;
      color: $color-list-decoration;
      margin-right: 2rem;
    }
  }
}

@mixin button($color) {
  font-size: 2.5rem;
  color: $color-black;
  font-weight: 700;
  background-color: $color;
  padding: 1rem 4rem;
  border: none;
  cursor: pointer;
}

@mixin mobile__seaction-heading {
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}