$color-white: #fff;
$color-black: #000;
$color-yellow: #F4FD04;
$color-list-decoration: #d5d5d5;
$color-purple-base: #7238E2;
$color-Purple-dark: darken($color-purple-base, 50%);
$color-purple-heading: #6938E2;
$color-purple-light: #7C44FD;

$padding-section-right: 10rem;
$padding-section: 10rem;

$width-heading-tablet-portrait: 33%;
$width-heading-mobile: 80%;

$width-right-side-tablet-portrait: 67%;
$width-right-side-mobile: 100%;


$mobile-multiplier: .3;
